@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto';
    background-color: rgb(183, 237, 233);
    
}



.header {
    height: 100vh;
    background-image: url(https://fondosmil.com/fondo/2956.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.contenedorNav {
    display: flex;
    flex-direction: column;
}

.container-fluid.navegador {

    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
}






.navbar-nav {
    justify-content: flex-end;


}

.nav-item:hover {

    transform: scale(1.1);
    transition: 0.2s;


}

.container-fluid-md.textoPrincipal {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: fit-content;
    margin-top: 20vh;
    backdrop-filter: blur(3px);
    





}

.container-fluid.textoPrincipal p {
    margin: 0.5rem;
    font-size: 1.5rem;

}

.container-fluid.textoPrincipal h1 {
    font-size: 2.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.header2 {
    background-color: #034389;
}




.main {
    background-color: rgb(183, 237, 233);
    color: black;
    display: flex;
    justify-content: center;
    
}
hr{
    margin: 0px;
}

.tarjetaIndex{
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}
.tarjetaIndex h4{
    font-size: 1.5rem;
}

.tarjetaIndex h6{
    font-size: 1.3rem;
}
.tarjetaIndex p{

    padding: 0px;
    margin: 0.4rem;
    
    
}
.card-bodyIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color: blanchedalmond;
    
}



.contacto {

    margin: 10vh;
}

.btnContacto{
    margin: 2vh;
}




.seccionDondeEstamos {
    display: flex;
    justify-content: center;
    align-items: center;
}



.form div {
    margin: 5px;
}

.contenedorServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: bisque;
}

.imagen {
    width: 30%;
    margin: 2vh;
    padding: 4vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imagen img {
    width: 100%;

}

.imagen h3 {
    padding-bottom: 1vh;
}

.seccionNosotros {
    background-image: url(/assets/img/rain-2590345_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50vh;
    border: solid black;
    backdrop-filter: blur(3px);
}

.contenedorNosotros h3 {
    padding-bottom: 18vh;
}

.contenedorNosotros p {
    padding-bottom: 15vh;
}




.footer {
    
    width: 100%;
    background-color: #034389;
    text-align: center;
    display: flex;
    flex-direction: column;


}

.footer p {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.linkRedes {
    text-decoration: none;
}

.icon {
    color: black;
    font-size: 3rem;
    margin: 1vh;

}


@media only screen and (max-width: 490px) {

    

    .nav-link{
        padding: 2px;
        font-size: 1rem;
    }

    .logo{
        width: 60px;
        height: 60px;
    }
    .navbar-brand{
        font-size: 1rem;
    }

}

