.header2 {
    background-color: #034389;

    a{
        animation: deslizar 3s;
    }

    li{
        animation: deslizar 3s;
    }

    img {
        animation: deslizar 3s;
    }
    
    
    
}




