.contenedorServicios {
    display: $flex;
    flex-wrap: wrap;
    justify-content: $center;
    background-color: $colorPrincipalbody;
}

.imagen {
    width: 33vw;
    margin: 2vh;
    padding: 2vh;
    background-color: $colorPrincipalCards;
    object-fit: $cover;

    border: map-get($borde, bordeDefault);
    
    @include flex-direction-alignItems-justify (column, center, center);

    img {
        width: $max;
    
    }

    h4 {
        padding-bottom: 1vh;
    }
}






@media only screen and (max-width: 992px) {
    .contenedorServicios{
       
        @include flex-direction-alignItems-justify (column, center,center)



    }

    .imagen {

        width: 90vw;
    }
    
}


