.seccionNosotros {
    background-image: url(/assets/img/rain-2590345_1280.jpg);
    background-size: $cover;
    background-position: $center;
    background-repeat: $no-repeat;
    background-attachment: $fixed;
    height: 100vh;
    width: $max;
    display: $flex;
    align-items: $center;
    justify-content: $center;
    
}

.contenedorNosotros {
    @include flex-direction-alignItems-justify (column, center, center);
    

    width: 50%;
    height: 50vh;
    border: map-get($borde, bordeDefault);
    backdrop-filter: blur(3px);
}

.contenedorNosotros h3 {
    padding-bottom: 18vh;
}

.contenedorNosotros p {
    padding-bottom: 15vh;
}