.contacto {
min-height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.seccionContacto{
    border: map-get($borde, bordeDefault);
    background: rgb(255, 255, 255,0.65);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(237, 237, 237, 0.791);
    padding: 1rem;
    animation: fade-down 2.5s;

    label{
        margin: 1vh;
    }
    h2{
        color: #034389
    }
    p{
        font-size: 1.3rem
    }
}

.btnContacto{
    
    @extend .btn;
    margin: 2vh;
    margin-top: 4vh;
}

@media only screen and (max-width: 490px) {

    .contacto {
        
       padding-left: 3vw;
       padding-right: 3vw;

       p{
        font-size: 1rem;
       }
        
    }

}