.seccionDondeEstamos {
    @include flex-direction-alignItems-justify (row, center, center);

    height: 100vh;
    width: 100%;

}


.dondeEstamosMapa {

    height: 100%;
    width: 60vw;
}

.cardDondeEstamos {

    border: none;
    background-color: transparent;
    margin-left: 7vh;
    width: 30vw;
    animation: fade-down 2.5s;
}

.dondeEstamosTexto {
    @include flex-direction-alignItems-justify (column, center, center);

    border: map-get($borde, bordeDefault);
    background: rgb(255, 255, 255,0.65);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(237, 237, 237, 0.791);
    text-align: $center;

    h3{
        color:#034389
    }

    
    



}

.btnDondeEstamos {
    @extend .btn;
    margin: 1vh;


    }




@media only screen and (max-width: 992px) {

    .seccionDondeEstamos {
        @include flex-direction-alignItems-justify (column, center, center);

        height: fit-content;
        width: $max;

    }

    .dondeEstamosMapa {

        margin-top: 10vh;
        height: 50vh;
        width: 100vw;
    }

    .cardDondeEstamos {

        @include flex-direction-alignItems-justify (row, center, center);
        width: $max;
        border: none;
        background-color: transparent;
        margin: 0px;
        margin-bottom:5vh ;
        margin-top: 5vh;
        width: 65vw;
    }
}

@media only screen and (max-width: 490px) {

    .seccionDondeEstamos {
        @include flex-direction-alignItems-justify (column, center, center);

        height: fit-content;
        width: $max;

    }

    .dondeEstamosMapa {

        margin-top: 10vh;
        height: 75vh;
        width: 100vw;
    }

    .cardDondeEstamos {

        @include flex-direction-alignItems-justify (row, center, center);
        width: $max;
        border: none;
        background-color: transparent;
        margin: 0px;
        margin-bottom:5vh ;
        margin-top: 5vh;
        width: 75vw;
    }
}