$max: 100%;
$fuente: 1.5rem;
$fuente-principal: 'Roboto';
$flex: flex;
$column: column;
$row: row;
$center: center;
$cover: cover;
$center: center; 
$no-repeat: no-repeat;
$fixed: fixed;
$colorPrincipalbody: rgb(183, 237, 233);
$colorPrincipalCards: blanchedalmond;



$fuentes:(
    normal: 1.5rem,
    tituloPrincipal: 2.5rem,
    chica: 1rem,
);


$borde:(
    bordeDefault : 1px solid black
)