@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-image: url(https://fondosmil.com/fondo/2956.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedorNav {
  display: flex;
  flex-direction: column;
}

.container-fluid.navegador {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  justify-content: flex-end;
}

.nav-item:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.container-fluid-md.textoPrincipal {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.container-fluid-md.textoPrincipal p {
  margin: 0.5rem;
  font-size: 1.5rem;
}
.container-fluid-md.textoPrincipal h1 {
  font-size: 2.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

@media only screen and (max-width: 490px) {
  .container-fluid-md.textoPrincipal {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 20vh;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  .container-fluid-md.textoPrincipal p {
    margin: 0.5rem;
    font-size: 1rem;
  }
  .container-fluid-md.textoPrincipal h1 {
    font-size: 1.5rem;
  }
  .nav-link {
    padding: 2px;
    font-size: 1rem;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .navbar-brand {
    font-size: 1rem;
  }
}
.header2 {
  background-color: #034389;
}

.main {
  background-color: rgb(183, 237, 233);
  display: flex;
  justify-content: center;
}

.tarjetaIndex {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.tarjetaIndex h4 {
  font-size: 1.5rem;
}
.tarjetaIndex h6 {
  font-size: 1.3rem;
}
.tarjetaIndex p {
  padding: 0px;
  margin: 0.4rem;
}
.tarjetaIndex img {
  border: 1px solid black;
  border-top: none;
  height: 100%;
}
.tarjetaIndex div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
  background-color: blanchedalmond;
  border: 1px solid black;
}

@media only screen and (max-width: 720px) {
  .tarjetaIndex {
    width: 90vw;
  }
  .tarjetaIndex img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 266px;
  }
}
.contacto {
  margin: 10vh;
}

.seccionContacto {
  border: 1px solid black;
  background-color: blanchedalmond;
  padding: 1rem;
}
.seccionContacto label {
  margin: 1vh;
}

.btnContacto {
  margin: 2vh;
  margin-top: 4vh;
}

@media only screen and (max-width: 490px) {
  .contacto {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
.seccionDondeEstamos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.dondeEstamosMapa {
  height: 100%;
  width: 60vw;
}

.cardDondeEstamos {
  border: none;
  background-color: transparent;
  margin-left: 7vh;
  width: 30vw;
}

.dondeEstamosTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  text-align: center;
  border: 1px solid black;
}

.btnDondeEstamos {
  margin: 1vh;
}

@media only screen and (max-width: 992px) {
  .seccionDondeEstamos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .dondeEstamosMapa {
    margin-top: 10vh;
    height: 50vh;
    width: 100vw;
  }
  .cardDondeEstamos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    background-color: transparent;
    margin: 0px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    width: 65vw;
  }
}
@media only screen and (max-width: 490px) {
  .seccionDondeEstamos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .dondeEstamosMapa {
    margin-top: 10vh;
    height: 75vh;
    width: 100vw;
  }
  .cardDondeEstamos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    background-color: transparent;
    margin: 0px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    width: 75vw;
  }
}
.contenedorServicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(183, 237, 233);
}

.imagen {
  width: 33vw;
  margin: 2vh;
  padding: 2vh;
  background-color: blanchedalmond;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagen img {
  width: 100%;
}
.imagen h4 {
  padding-bottom: 1vh;
}

@media only screen and (max-width: 992px) {
  .contenedorServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imagen {
    width: 90vw;
  }
}
.seccionNosotros {
  background-image: url(/assets/img/rain-2590345_1280.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50vh;
  border: 1px solid black;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.contenedorNosotros h3 {
  padding-bottom: 18vh;
}

.contenedorNosotros p {
  padding-bottom: 15vh;
}

body {
  font-family: "Roboto";
  background-color: rgb(183, 237, 233);
}

.footer {
  width: 100%;
  background-color: #034389;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer p {
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.linkRedes {
  text-decoration: none;
}

.icon {
  color: black;
  font-size: 3rem;
  margin: 1vh;
}

hr {
  margin: 0px;
  border: none;
  background: black;
  color: black;
}

.btn, .btnContacto, .btnDondeEstamos {
  background-color: #034389;
  padding: 10px 30px;
}/*# sourceMappingURL=estilos.css.map */